.user_commande{
    display: flex;
    flex-direction: column;
    border: 1px hidden blue;
    color: #2C216F;
    font-size: 0.6em;
    width: 30%;
}
.elem-cmnd-list{
    width: 16.66%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}