*{
    font-family: 'Montserrat', sans-serif;
  
}
.pdf-stylig{
 
    height: fit-content;
    z-index: 2;
    width: 100%;
   height: auto;
    height: auto;
    height:fit-content;
    border: 1px hidden red;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:150vh;
}
.pos-pdf{
   
    
}
.header-inventaier{
    background-color: #2c216f;
    color: white;
    font-size: 24px;
    
    width: 70%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-bottom: 30px;
}
.wrap-pdf{
    width: 100%;
    height: fit-content;
    border: 1px hidden red;
    /*padding: 20px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inevnt-item{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    border-bottom: 1px solid lightgray;
    
}
.btn-download{
    width: 30%;
    margin-bottom: 30px;
}
.wrap-pdf-stylig{
    width: 80%;
   
    border: 1px hidden red;
}
.invent-title{
    background-color:white;
    width: 70%;
    color: #2c216f;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    border: 1px hidden red;
}
.invent-item{
    border: 1px hidden red;
   
}
.invent-inter{
    width: 50%;
}
.principale-titles-pdf{
    margin-top: 30px;
    margin-bottom: 30px;
}
.cart-row{
    display: flex;
    justify-content: space-between;
    border: 1px hidden red;
    width: 100%;
}
.item-list-achat{
flex: 1;
text-align: center;
border-bottom: 1px solid #2c216f ;
}
.wrap-cart-row{
    width: 50%;
    border: 1px solid #2c216f;
    margin-bottom: 30px;
}