.user{
    display: flex;
    justify-content: space-between;
    border: 1px hidden blue;
    background-color: rgba(44,33,111,.2);
    color: #2C216F;
}
.elem-cmnd-list{
    width: 16.66%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.elem-user{
    background-color: white;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    font-size: xx-small;
    height: fit-content;
   

}
.width-style{

}
.items-user{
    width: 98%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid  rgba(44,33,111,.2);
}
.wrap-principles-titles{
    
}
.pagination{
    margin-top: 30px;
}
/************************************New styling******************************************************/
.new-user-itemm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgray;
    margin-bottom: 25px;
}
.Grey{
    color: lightgrey;
    font-size: x-small;
}
.info-user{
    width: 30%;
    background-color: white;
   
}
.elem_user_text{
    width: 100%;
}