.user{
    display: flex;
    justify-content: space-between;
    border: 1px hidden blue;
    background-color: rgba(44,33,111,.2);
    color: #2C216F;
}
.elem-cmnd-list{
    width: 16.66%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.elem-user{
    border: 1px hidden red;
    width: 16.66%;
    border-bottom: 1px solid  rgba(44,33,111,.2);
    height: 40px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.width-style{
width: fit-content;
}
.items-user{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.wrap-principles-titles{
    border: 1px solid red;
}
.pagination{
    margin-top: 30px;
}
