*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;

}
 
.footer{
    border: 1px hidden black;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C216F;
    margin-top: 100px;
  
}

.footerleft{
    border: 1px hidden black;
    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tmsdemlogo{
    position: absolute;
    right: 80px;
    border: 1px hidden white;
    height: 250px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tmsdemlogo img{

    height: 230px;
    width: 350px;
}

.footerposition, .footernumber, .footeremail, .footerclientservice{
    border: 1px hidden red;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;


}

 .addressText{
    font-size: 1.4em;
    color: white;
    width: 600px;
    text-align: left;
    border: 1px hidden green;
 margin: 5px;
}

/*
.footerIcones +.addressText {
    margin: 10px;
}

*/
.fas {
    font-size:1.5em;
    color: white;
 margin-left: 78px;
 border: 1px hidden pink;
}

.fas.fa-envelope{
margin-top: 5px;
}

.sav, .phone{
    width: 2em;
    margin-left:  78px;
    
}

.phone {
    width: 1.5em;  
}

.footeremail .contacttextFooter, .footerclientservice .clientSAVFooter{
    width: auto;
}

@media screen and (max-width : 772px) {
    .fas{
        margin-left: 10px;
    }

    .sav, .phone{
        margin-left:  10px;
    }

.footernumber .addressText, .footerposition .addressText{
     width: auto;
 }

 .footerposition .addressText{
    width: auto;
  
 }

   
}


@media screen and (max-width : 516px) {
    .tmsdemlogo{
        display: none;
    }
}


@media screen and (max-width : 424px) {
    .footerleft{
        height: auto;
    }
}