*{
    font-family: 'Montserrat', sans-serif;
 
    font-weight: 500;
    font-size: 15px;
}

.carton{
    height: auto;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
}

.cartonGeneralTitle {
border: 1px hidden red;
width: auto;
margin-left: 25px;
font-family: 'Roboto Slab', serif;
font-weight: 400;
overflow: hidden;
}

.text-fomulaire.volumDetails {
    border: 1px hidden black;
    font-size: 0.79em;
}

.text-fomulaire.volumDetails p{
    margin-left: 18px;
   
    width: 420px;
}
.calcul-carton{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*padding: 10px;*/
}
.wrap-carton-elemnt{
    display: flex;
    flex-direction: column;
  position: relative;
  height: 110vh;
}
.img-carton-size{
    height: 200px;
    width: 100%;
}
.img-carton{
    width: 100%;
}
.text-carton{
    display: flex;
    width: 100%;
    border: 1px hidden red;
    margin-top: 23px;
}
.text-carton h1{
font-size: 1.5em;
}
.text-carton p{
    font-size: 1.3em; 
    margin-top: 10px;
}
.text-carton h4
{
    font-size: 1.2em; 
    margin-top: 50px; 
}
.margin-top{
    margin-top: 50px;
}
.Total-carton{
    background-color: rgb(243,243,243);
    border-radius: 5px 5px 5px 5px;
    width: 300px;
    height: fit-content;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
  
}
.Total-carton h1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.Total-carton h3{
    padding-left: 10px;
    padding-right: 10px;
    color: #2C216F;
}
.Total-carton h4{
    font-size: 2.8em;
    margin-top: 50px;
    margin-left: 30px;
   margin-right: 20px;
    font-weight: 300;
   
}
.resultat-volume{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: fit-content;
    width: 100%;
    background-color: rgb(255, 254, 254);
}
.btn-carton{
    width: 90%;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    background-color: #2c216f ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;

}
.input-volum{
display: flex;
padding-left: 10px;
margin-top: 50px;
margin-bottom: 50px;
width: 80%;
}
.element-volum{
    width: 80%;
    
    border-radius: 5px 5px 5px 5px ;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 25px;
    background-color:rgb(243,243,243); 
    
}
.select-inter-piéce{
width: 80%;
margin-bottom: 10px;
}
.add-box{
height: 100%;
width: 90%;
z-index: 10;
display: flex;
justify-content: center;
align-items: center;
}
.icon-colum-item{
  color: #2c216f;  
}
.la-piéce-head{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border: 1px solid blue;
    margin-bottom: 10px;
    margin-top: 10px;
}
.select-la-piece{
    width: 100%;
    height: 30px;
    margin-bottom: 0px;
   
}


.text-fomulaire.piecesTitle {
    color: black;
    border: 1px hidden black;
    margin-top: 30px;
    margin-left: 18px;
}
.piecesTitle{
    margin-bottom: 25%;
    
}
/***************************ROOM STYLING********************/

/****************************ROOM STYLE*******************************/
.wrap-room{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 2px solid #2c216f;
    background-color: white;
    margin-top: 20px;
    

}
.wrap-elems-room{
   width: 100%;
}
.wrap-room select{
    border: 1px solid lightgray;
    width: 60%;
    margin-bottom: 0px;
}
.wrap-select-object{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-wrap-room{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    background-color: lightgray;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
}
.wrap_btns_room{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    
}
.btns-wrap-room{
    display: flex;
}
.btns-wrap-room button{
    border: none;

}
.wrap-btns-cubage-elem{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}
.nom_de_onject{
   margin-left: 5px; 
   font-weight: bold;
   color: #2C216F;
}
.btn-add-room{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2C216F;
    color: white;
    
    /*j'ai chancger ici parce que ça a cause un scroll*/
}
.btn-ad-ojet{
    margin-top: 0px;
}
.btn-add-room:hover {
    background-color:#ed1c24; 
   box-shadow: 2px 2px lightgray;
}
.room-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    
}
.add-object-icon{
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}
.room-name{
    width: 25%;
}
.wrap-select-object{
width: 100%;

display: flex;
justify-content: space-between;
align-items: center;
}

/**************delet rooom icin***********************************/
.delet-room-icon{
    color:#ed1c24;
    cursor: pointer;
}
.fas.fa-plus {
    margin-right: 10px;
    color: #ed1c24;
}
.cubage-icon{
    background-color:#2c216f ;
    color: white;
    border-radius: 15px;
    font-size: 1.3em;
    margin: 5px;
    cursor: pointer;
}
.wrap-btns-cubage-elem button{
border: none;
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
}
.cubage-item-name{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    
}
.cubage-quantite{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    width: 70%;
   
}

.tail-volum-result{
    font-size: 18px;
}
.btns-wrap-room .btn-add-room.btnMApAddRoom {
background-color: none;
}
.buttonCOntMinus{
    border: 1px solid black;
     width: 30px;
    font-size: 1.1em;
    color: #2C216F;
}
.up_down_btn{
   background-color:lightgray;
   border-radius:5px;
   border: 1px solid #2C216F;
}
.wrap-btn-quantie{
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 15%;
   
}
@keyframes showdetails {
    from {
     transform: translateY(-100%);
    }
  
    to {
        transform: translateY(0%);
    }
  }
.show-room-datails{
    width: 100%;
    animation: showdetails;
    animation-duration: 1.25s;
    margin-bottom: 10px;
}
.hide-room-datails{
    border: 1px solid purple;
    width: 100%;
    display: none;
}
.msg-cache{
    color: #ed1c24;
    opacity: 0;
    font-size: 15px;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.detail-icon:hover .msg-cache {
    display: block;
    opacity: 1;
    background-color: #2c216f;
}

.wrap-under-room{
    border: 1px solid lightgray;
    margin-top: 30px;
    max-height: 300px;
    min-height: 0px;
    width: 90%;
    overflow: scroll;
    overflow-x: hidden!important;
    bottom: 0px;
}
.select-remontage{
    height: 25px;
    width: 100%;
}
.romontage_demontage_select{
    width: 30%;
   
}
.romontage_demontage_select select{
    width: 100%;
}
.select-remontage{
    width: 100%;
}
.embalage{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.input_radio_embalage{
    margin-bottom: 0px;
    margin-right: 5px;
}
.icon_chat{
    cursor: pointer;
}

