.signin{
    width: 70%;
   height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
   background-color: white;
  border: 1px solid black;

}
.signin-box{
    width: 100%;
    height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
  align-items: flex-start;
  
    
}
.back-signin{

overflow: hidden;
background-repeat: no-repeat;
background-size: 100%;

}
.signin-box-wrap{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5px;

}
.signin-title{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2C216F ;
    font-size: 1.9em;
    font-weight: 600;
   
  
}
.form-signin{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 1%;
    padding-right: 1%;
    height: 90%;
    justify-content:space-between;
    align-items: center;
  font-weight: 300; 
  margin-top: 30px;
}
.form-signin label,input,button{
    font-size: 100%;

    width: 100%;
    display: flex;
    justify-content:flex-start;
    font-size: 1.3em;

    

}
.label-sigin{
    margin-bottom: 10px;
    width: 100%;
}
.btn-signin-wrapper {
margin-top: 5%;
margin-bottom: 5%;
width: 100%;
height: 50%;
display: flex;

justify-content: space-between;
align-items: center;
}
.btn-signin-wrapper button{
    background-color: #2C216F;
    width: 50%;

    border: none;
    border-radius: 25px;
    height: 50px;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-signin-wrapper button:hover{

    color: white;
    background-color: #ED1C24;
}

.inscrire{
    cursor: pointer;
    color:#ED1C24;  
}
.header-sign{
    background-color:#2C216F;
    width: 100%;
    height: auto;
    color:white;
    font-weight: 500;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-sign{
    width: 200px;
    height: 150px;
}
.side_siginbox{
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #2C216F;
}
.sentence{
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
    
}
@keyframes movelogo{
    from{
transform: translateX(0%);
    }
    to{
        transform: translateX(25%);
    }
}
.logo-sign_box{
animation-name:movelogo;
animation-duration: 1s;
animation-direction:alternate;
 height: 100px;
 width: 100px;

}

.wrap_logo_s_box{
    height: 30%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 5px white;
    
}
@media screen  and (max-width :1100px){
    .signin{
        width: 60%;
        
    }
}
@media screen and (max-width : 500px){
    .signin{
        width: 70%;
      
    }  
}