*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
   
}

.Home{
    border: 1px hidden black;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.slideImage{
    height: 100vh;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    z-index: -10;
}
@keyframes colorbtn{
    from {
   color: #2C216F;
    }
  
    to {
        color: #ED1C24;
    }
  }
.home-devis-btn{
  width: 100%;
    text-decoration: underline;
    cursor: pointer;
    animation:  colorbtn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-top: 20px;
    border-radius: 5px 5px 5px 5px ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    
}
@keyframes arrowrannimation{
    from {
     transform: translateX(-100%);
    }
  
    to {
        transform: translateX(0%);
    }
  }
.home-arrow-devis{
   margin-left: 30px;
   color: #2C216F;
   animation: arrowrannimation ;
   animation-duration: 1s;
   animation-iteration-count: infinite;
    }
   .homewall{
      width: 40%;
      height: 400px;
      margin-top: 50px;
      box-shadow: 2px 2px 2px 2px lightgray;
      display: block;
   }
   .homewall:hover{
    opacity: 0;
   }
   .stephomewall{
    position: absolute;
    opacity: 0;
    top: opx;
    right: 30px;
   
   }
   .homewall:hover.stephomewall{
    opacity: 1;
   }
.home_h_text{
    color: #2C216F;
    text-align: center;
}
.home_h_text-h5{
    width: 60%;
    color: #2C216F;
    text-align: center;
}
.homewall3_wrap{
    height: 100vh;
    width: 50%;
      background-image: url("/public/images/siteonlaptop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 100%;
}
.text_homwall3{
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.wrap_text_homewall3{
  
    height: 50%;
}
.wrap_text_homewall3_backgroundopacity{
    height: 50%;
    width: 100%;
    
    position: absolute;
    z-index: 10;
}
.wrap_text_homewall3 h4{
margin-top: 20px;
}
.wrap_title_home{
    position: relative;
    height: 90%;
    width: 50%;
}
.titleSlide{
    margin-top: 10%;
    width: 80%;
    height: 80%;
    padding: 10PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleSlideopacityBack{
    position: absolute;
    left: 0%;
    top:10%;
    background-color:#2C216F;
    opacity: 0.4;
    height: 80%;
    width: 80%;
    z-index: -1;
}


.titleSlide  .occupons {
    border: 1px hidden red;
    font-size: 1.05em;
    font-weight: 800;
    color: #2C216F;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
 
}
.titleSlide h3{
 color: white;
    overflow: hidden;
   font-weight: 300;
   margin-top: 20px;
}

 .titleSlide h2{
  color:#2C216F;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif
}

/*
.titleSlide .votre {
    font-size: 5.4em;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif
}


.titleSlide .demenagement {
    font-size: 2.3em;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif
}


*/
 .smallImg{
    border: 4px solid white;
    height: 360px;
    width: 400px;
    position: absolute;
     top: 480px;
    right: 25px;
    z-index: 100000;
    overflow-y: hidden;
    margin-top: 90px;
}

.smallImg img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    
}

.textFiled  {
    width: 100%;
    height: auto;
    margin-top : 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.home_img_text-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
}
.home_img_text_section_text{
    width: 50%;
    height: 400px;
    background-color: #2C216F;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.home_img_text_section_text h4{
    width: 80%;
    margin-right: 30px;
    color: white;
text-align: center;
}
.btn_home_imagetext-section{
    border: 1px hidden black;
    height: 50px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    color: #2C216F;
    cursor: pointer;
    margin-top: 20px;
}
.btn_home_imagetext-section:hover{
    color: #ED1C24;
    box-shadow: 2px 2px 2px 2px lightgrey;
}
.textFiled p {
   text-align: left;
   font-size: 1.2em;
   line-height: 30px;
   color: #414042;
   letter-spacing: 1px;
   text-align: justify;
}
.homewall2{
    width: 50%;
    height: 400px;
}
.animation_typing{
    color:#ED1C24;

}
.large_home_image{
    width: 100%;
    height:100vh;
    background-image: url('/public/images/sug1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.ruban_home{
    background-color: #2C216F;
    height: fit-content;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.ruban_home h1{
    margin-top: 20px;
}
.steps{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.mstep{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    width: 30%;
    height: 30%;
    color: #ED1C24;
    margin-top: 30px;
}
.mstep p{
    margin-top: 10px;
    color: white;
    width: 90%;
    text-align: left;
}
.mstep a{
    text-decoration: none;
    color: #ED1C24;
}
.tap_img{
    width: 128px;
   
}
/********************************SECTION SERVICE VOTRE DEMENAGEMENT******************************/
.servicesTMSDEM{
    border: 1px hidden black;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    
}
.serviceContent{
border: 1px hidden pink;
width: 95%;
height: auto;
display: flex;
align-items: center;
justify-content: space-around;
}
.servicesTMSDEM .serviceContainer{
    border: 2px solid #ED1C24;
    margin: 5px;
    border-radius: 5px 5px  5px 5px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.servicesTMSDEM .serviceContainer h2{
    font-weight: 600;
    font-size: 1.6em;
    color: #2C216F;
   border: 1px hidden black;
   text-align: center;
}
.serviceContainer a{
    text-decoration: none;
}
.imgContent{
    height: auto;
    width: 80%;
    margin-top: 20px;
    color: #2C216F;
    text-align: center;
}
.imgContent img{
    height: 164px;
    width: 153px;
}
.imgContent .proimg{
    /*margin-top: -20px;*/
}
.planificationStep{
    border: 1px hidden red;
    height: auto;
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.planificationTitle{
border: 1px hidden black;
width: 100%;
height: auto;
color: #2C216F;
}
.planificationTitle h1{
    font-size: 6em;
    font-weight: 900;
    border: 1px hidden black;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.planificationTitle h2{
    font-size: 3.3em;
   text-align: center;
}


.planificationTimeLine{
    border: 1px hidden red;
    height: 830px;
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.planificationLeftSide{
    border: 1px hidden black;
    height: 100%;
    width: 370px;
    position: relative;
}

.planificationLeftSide img{
    height: 100%;
    width: 70px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
}

.buttonBox{
    border: 1.5px solid #2C216F;
    height: 40px;
    width: 160px;
   text-align: center;
    position: absolute;
    left: 80px;
  bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  color: #2C216F;
}
.btn-homepage a{
 font-size: 100%;
  
}
.btn-homepage2 a{
    font-size: 65%;
    
     
   }
.planificationRightSide{
    border: 1px hidden green;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}

.step{
    border: 1px hidden black;
    height: 256px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
}


.descriptionPlanification{
    border: 1px solid white;
    height: 200px;
    width: 200px;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 11px 10px 13px -2px rgb(165, 161, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    line-height: 1.6;
    color: #2C216F;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.descriptionPlanification div{
    width: 75%;
}
/**************************************************END OF PLANIFICATION STYLE*************************************************/
.text3{
    font-size: 0.9em;
}

.buttonAction{
    border: 1px hidden black;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.button {
    border: 1px solid red;
    height: 70px;
    width: 280px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    background-color: #ED1C24;
 
}


.reasonContent .reasonItem {
    height: 320px;
    width: 430px;
    display: flex;
    flex-direction: column;
    border-right: 3px solid #2C216F;
}

.reasonContent .reasonItem .reasonItemPara{
border: 1px hidden black;
width: 100%;
height: 180px;
display: flex;
justify-content: center;
margin-top: 30px;
font-family: 'Montserrat', sans-serif;
margin-top: 30px;
}
.reasonContent .reasonItem h1{
    font-size: 3em;
   color:  #2C216F;
   border: 1px hidden black;
   text-align: center;
}

.reasonContent .reasonItem.troisieme{
    border: none;
}

.reasonContent .reasonItem p{
    font-size: 1.5em;
    width: 80%;
    border: 1px hidden black;
    text-align: center;
}

.testimonial{
    border: 1px hidden black;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}

.testimonial h1{
    font-weight: 500;
    color: #2C216F;
    font-size: 2.3em;
}

.slider{
    border: 1px hidden black;
    height: 250px;
    width: 750px;
    margin-top: 10px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
}



.sliderContent{
    border: 2.5px solid #2C216F;
    height: 230px;
    width : 600px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
 flex-direction: column;
 text-align: left;
}

.controllButton{
    height: 50px;
    background-color: #2C216F;
    width: 50px;
    border-radius: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.stars{
    border: 1px hidden black;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}


.stars img{
width: 30px;
}



.testimonialName{
    border: 1px hidden black;
    height: 50px;
    font-size: 1.8em;
   display: flex;
   align-items: center;
   overflow: hidden;
}

.testimonialName div{
    padding: 20px;
    font-weight: 400;
}

.testimonialText{
    font-size: 1.5em;
}

.testimonialText div{
    border: 1px hidden black;
    margin: 20px;
    width: 500px;
    color: #2C216F;
    font-size: 0.85em;
   
}

.testimonial h1{
    font-size: 3.5em;
    font-weight: 800;
    text-align: center;
}

.testimonialName .clientName {
    font-size: 1em;
}
.homeimg{
    height: fit-content;
    width: 500px;
    
}
/* ***************** RESPONSIVE EDSIGN ************** */

@media screen and (min-width : 1550px) {
    .textFiled  {
        border: 1px hidden black;
        width: 70%;
        height: auto;
        margin-top : 40px;
        margin-left: 20px;
    }
   
    
    .textFiled p {
       text-align: left;
       font-size: 1.7em;
       line-height: 40px;
       color: #414042;
       letter-spacing: 1px;
       text-align: justify;
      border: 1px hidden black;
      width: 100%;
    }
    


    .serviceContent{
        border: 1px hidden pink;
        width: 1200px;
     
        
        }


}

@media screen and (max-width : 1352px) {
    .textFiled  {
        width: 100%;
        text-align: center;
       
    }


    .textFiled p {
        font-size: 1.4em;
        line-height: 35px;
        text-align: center;
     }
}


@media screen and (max-width : 1158px) {
    .serviceContent{
        flex-direction: column;
        margin-top: -30px;
    }

    .serviceContainer{
        margin-top: 40px;
    }
}

@media screen and (max-width : 1168px) {
    .reasonContent .reasonItem h1{
        font-size: 2.2em;
    }  
}


@media screen and (max-width : 987px){
  
    .planificationLeftSide{
        display: none;
    }
    .planificationRightSide{
        width: auto;
    }
    .planificationLeftSide img{
        display: none;
    }

.buttonBox{
    left: 10px;
}
}



@media screen  and (max-width : 871px){

    .reasonContent{
        flex-direction: column;
    }


    .reasonContent .reasonItem{
        border-right: none;
        border-bottom: 3px solid #2C216F;
        margin-top: 40px;
        height: auto;
        width: 100%;
    }

    .reasonContent .reasonItem .reasonItemPara{
        margin-bottom: 25px;
    }
}








@media screen and (max-width : 762px) {
    .planificationTitle {
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width : 730px) {
    .slider{
        width: 100%;
        border: 1px hidden red;
    }

    .sliderContent{
        width: 100%;
    }

    .testimonialText div{
        width: 100%;
    }
}










@media screen and (max-width : 510px){

.step{
    flex-direction:column-reverse;
    height: auto;
margin-top: 50px;
}
.planificationTimeLine{
    border: 1px hidden black;
    height: auto;
}


.descriptionPlanification{
 margin-top: 20px;
 border: 1px solid rgb(212, 201, 201);
}



.buttonAction{ 
    flex-direction: column;
}
}




@media screen and (max-width: 588px) {
    .reasonsContainer .reasonsContainerTitle {
        flex-direction: column;
    }
    .reasonsContainer .rowTitleReasonContainer h1{
        font-size: 7em;
        text-align: center;
    }
    .reasonsContainer .rowTitleReasonContainer h2{
        font-size: 5em;
        text-align: center;
    }
.reasonsContainer .reasonItemPara{
    text-align: center;
}


}




 @media screen and (max-width : 446px) {
    .planificationTitle h1{
        font-size: 4em;
     
    }
    
    .planificationTitle h2{
        font-size: 2em;
       
    }
 }



 @media screen and (max-width : 426px) {
    .reasonsContainer .reasonsContainerTitle .rowTitleReasonContainer h1{
        font-size: 5em;
    }
   }
   
   
   @media screen and (max-width: 765px) {
       .reasonsContainer .reasonsContainerTitle {
           flex-direction: column;
       }
    
   }




/* ************************************************* */

@media screen and (max-width : 445px){
    .titleSlide{
        border: 1px hidden blue;
        width: 100%;
        right: 0
    }

    .titleSlide h1{
        font-size: 3.3em;
        font-weight: 800;
        color: #2C216F;
        overflow: hidden;
        font-family: 'Montserrat', sans-serif;
        border : 1px hidden black;
        text-align: center;
    }
    
    .titleSlide  .occupons {
        border: 1px hidden red;
        font-size: 1.03em;
        text-align: center;
     
    }
    .titleSlide h3{
        font-size: 2.3em;
        font-weight: 600;
    text-align: center;
    }
    
     .titleSlide h2{
        font-size: 1.7em;
        text-align: center;
    }



.slideImage img{
opacity: 0.5;
}
}


@media screen and (max-width : 427px){
    .smallImg{
   display: none;
    }

    .textFiled  {
  
        margin-top : 40px;
    }




}









 @media screen and (max-width : 390px) {
    .controllButton{
        display: none;
    }
    .sliderContent{
        width: 90%;
    }
 }

 @media screen and (max-width : 376px) {
    .planificationTitle h1{
        font-size: 4em;
        
    }

    .planificationTitle h2{
        font-size: 2em;
       
    }
    


}



@media screen and (max-width: 332px){
    .titleSlide  .occupons {
   
        font-size: 0.8em;
   
     
    }
}